<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生一覧</title>
</head>
<body>
    <h1>学生一覧</h1>
 
    <!-- 絞り込みフォーム -->
    <form action="/studentlist/" method="get">
        <!-- 入学年度の絞り込み -->
        <div class="row mt-3">
            <label for="ent_year" class="col-4 col-form-label text-end">入学年度</label>
            <div class="col-4">
                <select class="form-control" id="ent_year" name="entYear">
                    <option value="" th:selected="${entYear == null}">すべて</option>
                    <option value="2020" th:selected="${entYear != null && entYear == 2020}">2020</option>
                    <option value="2021" th:selected="${entYear != null && entYear == 2021}">2021</option>
                    <option value="2022" th:selected="${entYear != null && entYear == 2022}">2022</option>
                    <option value="2023" th:selected="${entYear != null && entYear == 2023}">2023</option>
                    <option value="2024" th:selected="${entYear != null && entYear == 2024}">2024</option>
                </select>
            </div>
        </div>
        
        <!-- クラス番号の絞り込み -->
        <div class="row mt-3">
            <label for="class_num" class="col-4 col-form-label text-end">クラス番号</label>
            <div class="col-4">
                <select class="form-control" id="class_num" name="classNum">
                    <option value="" th:selected="${classNum == null}">すべて</option>
                    <option value="101" th:selected="${classNum != null && classNum.equals('101')}">101</option>
                    <option value="102" th:selected="${classNum != null && classNum.equals('102')}">102</option>
                    <option value="201" th:selected="${classNum != null && classNum.equals('201')}">201</option>
                    <option value="202" th:selected="${classNum != null && classNum.equals('202')}">202</option>
                    <option value="301" th:selected="${classNum != null && classNum.equals('301')}">301</option>
                    <option value="302" th:selected="${classNum != null && classNum.equals('302')}">302</option>
                </select>
            </div>
        </div>
        
        <!-- 在学中の絞り込み -->
        <div class="row mt-3">
            <label class="col-4 col-form-label text-end">在学中</label>
            <div class="col-4 form-check">
                <input type="checkbox" class="form-check-input" id="is_attend" name="isAttend" th:checked="${isAttend != null && isAttend}">
                <label class="form-check-label" for="is_attend">在学中のみ表示</label>
            </div>
        </div>
        
        <button type="submit">絞り込む</button>
    </form>
 
    <!-- 絞り込み結果の件数 -->
    <p th:if="${filteredStudentList != null and filteredStudentList.size() > 0}">
        絞り込み結果： <span th:text="${filteredStudentList.size()}"></span> 件
    </p>
    <p th:if="${filteredStudentList == null or filteredStudentList.size() == 0}">
        学生情報が存在しませんでした。
    </p>
 
    <!-- 学生一覧 -->
    <table th:if="${filteredStudentList != null and filteredStudentList.size() > 0}">
        <thead>
            <tr>
                <th>学生番号</th>
                <th>名前</th>
                <th>入学年度</th>
                <th>クラス番号</th>
                <th>在学中</th>
                <th>変更</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${filteredStudentList}">
    			<td th:text="${student.no}"></td>
    			<td th:text="${student.name}"></td>
    			<td th:text="${student.ent_year}"></td>
    			<td th:text="${student.class_num}"></t>
    			<td th:text="${student.is_attend != null && student.is_attend ? '〇' : '×'}"
        		th:if="${isAttend == null || (isAttend != null && isAttend == student.is_attend)}"></td>
    			<td><a th:href="@{/studentupdate(id=${student.id})}">変更</a></td>
			</tr>

        </tbody>
    </table>
</body>
</html>
