<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生一覧</title>
</head>
<body>
    <h1>学生一覧</h1>
    <table>
        <thead>
            <tr>
                <th>学生番号</th>
                <th>名前</th>
                <th>入学年度</th>
                <th>クラス番号</th>
                <th>在学中</th> <!-- 追加 -->
                <th>変更</th> <!-- 変更 -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${studentList}">
                <td th:text="${student.no}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.ent_year}"></td>
                <td th:text="${student.class_num}"></td>
               	<td th:text="${student.is_attend != null && student.is_attend ? '〇' : (student.is_attend != null && !student.is_attend ? '×' : '×')}"></td>
                <td><a th:href="@{/studentupdate(id=${student.id})}">変更</a></td> <!-- 変更 -->
            </tr>
        </tbody>
    </table>
</body>
</html>
