<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生情報変更</title>
</head>
<body>
    <h1>学生情報変更</h1>

    <form action="/studentupdate" method="post" th:action="@{/studentupdate}" th:object="${student}">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>入学年度：</label>
            <span th:text="${student.ent_year}"></span>
            <input type="hidden" th:field="*{ent_year}"/> <!-- 入学年度フィールドのための非表示フィールド -->
        </div>
        <div>
            <label>学生番号：</label>
            <span th:text="${student.no}"></span> <!-- 学生番号を静的テキストとして表示 -->
            <input type="hidden" th:field="*{no}"/> <!-- 学生番号のための非表示フィールド -->
        </div>
        <div>
            <label for="name">名前：</label>
            <input type="text" th:field="*{name}" id="name"/>
        </div>
        <div>
            <label for="class_num">クラス番号：</label>
            <select id="class_num" name="class_num" th:field="*{class_num}">
                <option value="101">101</option>
                <option value="102">102</option>
            </select>
        </div>
        <!-- 在学中のチェックボックス -->
        <div>
            <label>
                在学中：
                <!-- チェックボックスの状態をis_attendの値によって設定 -->
                <input type="checkbox" th:checked="${student.is_attend}" th:field="*{is_attend}"/>
            </label>
        </div>
        <button type="submit">変更</button>
    </form>

    <a href="/studentlist/">戻る</a> <!-- 学生一覧に戻るリンク -->
</body>
</html>
