<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生情報登録</title>
    <script>
        function validateForm() {
            var entYear = document.getElementById("ent_year").value;
            var classNum = document.getElementById("class_num").value;
            var errorDiv = document.getElementById("error-message");

            if (entYear === "" || classNum === "") {
                errorDiv.innerText = "入学年度とクラスを選択してください。";
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <h1>学生情報登録</h1>
    <form class="form py-4 needs-validation h-adr" method="post" th:action="@{/student}" th:object="${student}" onsubmit="return validateForm()">
        <div class="row mt-3">
            <label for="ent_year" class="col-4 col-form-label text-end">入学年度</label>
            <div class="col-4">
                <select class="form-control" id="ent_year" name="ent_year" th:field="*{ent_year}"
                        th:classappend="${#fields.hasErrors('ent_year')} ? 'is-invalid' : ''" required>
                    <option value="">-----</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>
                <div th:if="${#fields.hasErrors('ent_year')}" class="invalid-feedback">
                    <span>入学年度を選択してください。</span></div>
            </div>
        </div>
        <div class="row mt-3">
            <label for="no" class="col-4 col-form-label text-end">学生番号</label>
            <div class="col-4">
                <input type="text" class="form-control" id="no" name="no"
                       th:classappend="${#fields.hasErrors('no')} ? 'is-invalid' : 'is-valid'" th:field="*{no}" required/>
                <div th:if="${#fields.hasErrors('no')}" th:errors="*{no}" class="invalid-feedback">
                    <span>入力値が無効です。</span></div>
            </div>
        </div>

        <div class="row mt-3">
            <label for="name" class="col-4 col-form-label text-end">氏名</label>
            <div class="col-4">
                <input type="text" class="form-control" id="name" name="name"
                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : 'is-valid'" th:field="*{name}" required/>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback">
                    <span>入力値が無効です。</span></div>
            </div>
        </div>

        <div class="row mt-3">
            <label for="class_num" class="col-4 col-form-label text-end">クラス</label>
            <div class="col-4">
                <select class="form-control" id="class_num" name="class_num"
                       th:classappend="${#fields.hasErrors('class_num')} ? 'is-invalid' : 'is-valid'" th:field="*{class_num}" required>
                    <option value="">-----</option>
                    <option value="101">101</option>
                    <option value="102">102</option>
                    <option value="201">201</option>
                    <option value="202">202</option>
                    <option value="301">301</option>
                    <option value="302">302</option>
                </select>
                <div th:if="${#fields.hasErrors('class_num')}" class="invalid-feedback">
                    <span>クラスを選択してください。</span></div>
            </div>
        </div>

        <div class="row mt-3">
            <input type="hidden" id="is_attend" name="is_attend" value="true">
        </div>
        <div id="error-message" style="color: red;"></div>
        <input type="submit" class="btn btn-primary" value="登録"/>
    </form>
    <a href="/studentlist/">戻る</a>
</body>
</html>
